.logo {
  width: 80%;
  height: auto; 
  margin-bottom: 5REM;
}

.large-image {
  max-height: 600px;
}


.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: blue gray; 
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgb(32, 58, 136); 
  border-radius: 4px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: gray; 
}
